---
import { personalInfo, socialLinks, navigationLinks } from '../data/portfolio.js';
// Importa el nuevo archivo CSS del sidebar
import '../styles/components/sidebar.css'; // Ajusta la ruta si es diferente
---

<aside class="sidebar">
    <div class="profile-area">
        <img src={personalInfo.photoPath} alt={`Foto de perfil de ${personalInfo.name}`} class="profile-photo" />
    </div>
    <nav class="side-menu">
        <ul>
            {navigationLinks.map(link => (
                <li><a href={link.href} class="menu-link">{link.name}</a></li>
            ))}
        </ul>
    </nav>

    <!--<div class="theme-toggle-wrapper">
        <button id="theme-toggle" class="theme-toggle-button" aria-label="Toggle dark mode">
            <i class="fas fa-moon"></i> {/* Este icono se alternará entre fa-moon y fa-sun */}
        </button>
    </div> -->

    <div class="sidebar-social-links">
        {socialLinks.map(link => (
            <a href={link.url} target="_blank" rel="noopener noreferrer" aria-label={link.name}>
                {link.iconClass && <i class={link.iconClass}></i>}
                {!link.iconClass && link.name}
            </a>
        ))}
    </div>
    <button class="menu-toggle" aria-label="Toggle navigation menu">
        <i class="fas fa-bars"></i>
    </button>
</aside>